<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/" />
    <title>Open Bounty</title>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <!-- Material Design fonts -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />

    <!-- Bootstrap Material Design -->
  <link rel="stylesheet" type="text/css" href="bootstrap-material-design/dist/css/bootstrap-material-design.css">
  <link rel="stylesheet" type="text/css" href="bootstrap-material-design/dist/css/ripples.min.css">

    <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="/angular-loading-bar/build/loading-bar.min.css" />
    <script src="/lodash/index.js"></script>
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/angular-loading-bar/build/loading-bar.js"></script>
    <script src="/highcharts-ng/dist/highcharts-ng.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="//code.highcharts.com/stock/highstock.src.js"></script>
    <script src="/main.js"></script>
</head>

<body ng-app="OpenBounty">
    <navbar></navbar>
    <div id="main" ui-view></div>
</body>

</html>
