<div class="container-fluid">
    <div class='row'>
        <div class='col-sm-10 col-sm-offset-2'>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a ui-sref-active="active" ui-sref="home">Home</a></li>
                <li class="breadcrumb-item active">{{ loggedInUser.githubName }}</li>
            </ol>
        </div>
    </div>
    <div class='row'>
        <div class='col-sm-10 col-sm-offset-2'>
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search projects..." ng-model="search.term">
                        <span class="input-group-btn"><button class="btn btn-default" type="button" ng-click="searchProjects(search.term)">Search</button></span>
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
        </div>
    </div>
    <div class="row">
        <project-sidebar></project-sidebar>
        <div class="col-sm-10 col-sm-offset-2">
            <div class="list-group">
                <button type="button" class="list-group-item" ng-repeat="project in projects">{{project.name}}</button>
                <div class="list-group">
                    <button type="button" class="list-group-item" ng-repeat="bounty in project.bounties">{{bounty.issue.name}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
