<div class="container-fluid">
    <div class='row'>
        <div class='col-sm-9 col-sm-offset-3'>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a ui-sref-active="active" ui-sref="home">Home</a></li>
                <li class="breadcrumb-item">Bounties</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-3">
            <h1>{{ user.githubName }}'s bounties</h1>
        </div>
    </div>
    <div class="row">
        <div class='col-sm-9 col-sm-offset-3'>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Issue #</th>
                        <th>Title</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Difficulty</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="bounty in bounties">
                        <td>{{ bounty.id | uppercase}}</td>
                        <td href="bounty.issue.html_url">{{ bounty.issue.title }}</td>
                        <td>{{ bounty.amount }}</td>
                        <td>{{ bounty.status }}</td>
                        <td>{{ bounty.difficulty }}</td>
                        <td>
                            <button type="button" class="btn btn-warning btn-sm" ng-click="untrackBounty(bounty.id)">Untrack Bounty</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <sidebar></sidebar>
    </div>
</div>
