<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <sidebar></sidebar>
        </div>
        <div class="col-lg-9" ui-view>
            <div class="row">
                <div class="col-sm-5">
                    <h1 id="featured-projects">Featured Projects</h1>
                </div>
            </div>
            <div class="row featured-project-row" ng-repeat="featuredProjectRow in featuredProjects">
                <project-card ng-repeat="project in featuredProjectRow"></project-card>
            </div>
        </div>
    </div>
</div>
