<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <sidebar></sidebar>
        </div>
        <div class="col-sm-9" ui-view>
            <!-- <div class="card">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-1">
                    <h1>Search Projects</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-1">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search projects for bounties..." ng-model="search.term">
                        <span class="input-group-btn">
        <button class="btn btn-raised btn-default" type="button" ng-click="searchProjects(search.term)">Search</button>
      </span>
                    </div>
                </div>
            </div>
            </div> -->
                    <div class="row">
                        <div class="col-sm-5">
                        <h1 id="featured-projects">Featured Projects</h1>
                        </div>
                    </div>
                    <div class="row" ng-repeat="featuredProjectRow in featuredProjects">
                        <project-card project="project" ng-repeat="project in featuredProjectRow"></project-card>
                    </div>
        </div>
    </div>
</div>
