<table ng-show="issues" class="table table-hover">
    <thead>
        <tr>
            <th>Issue #</th>
            <th>Title</th>
            <th>Created</th>
            <th>Assignee</th>
            <th>Amount</th>
            <th>Difficulty</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="issue in issues">
            <td>{{issue.number}}</td>
            <td><a href="{{issue.html_url}}">{{ issue.title | uppercase | limitTo:20}}</a></td>
            <td>{{issue.created_at | date: 'MM-dd-yyyy'}}</td>
            <td class="td">{{issue.assignee.login || null}}</td>
            <td>
                <input class="form-control" id="exampleInputAmount" ng-model="bounty.amount" type="text" placeholder="$ amount" required>
            </td>
            <td>
                <div class="input-group">
                    <input type="number" class="form-control" id="exampleInputAmount" ng-model="bounty.difficulty" min=1 max=10 required>
                </div>
            </td>
            <td>
                <button ng-click="createBounty({ issueNumber: issue.number, issueId: issue.id, amount: bounty.amount, difficulty: bounty.difficulty, issueTitle: issue.title, issueUrl: issue.html_url, projectName: project.name})" class="btn btn-raised btn-warning btn-sm">CREATE BOUNTY</button>
            </td>
        </tr>
    </tbody>
</table>
