<div class="col-md-3 sidebar">
    <!-- Nav tabs -->
    <div class="card">
        <div class="row" id="sidebar-title">
            <div class="col-sm-5 col-sm-offset-1 user-pic">
                <img src="{{ user.githubPic }}">
            </div>
            <div class="col-sm-5 col-sm-offset-1 username">
            <h2 class="card-title">{{ user.name }}</h2>
            <h4>{{ user.githubName }}</h4>
            </div>
        </div>
        <div class="card-block">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="" ng-click="show = 'profile'" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                <li role="presentation"><a href="" ng-click="show = 'hunt'" aria-controls="hunt" role="tab" data-toggle="tab" id="hunt-tab">Hunt</a></li>
                <li role="presentation"><a href="" ng-click="show = 'maintain'" aria-controls="maintain" role="tab" data-toggle="tab" id="maintain-tab">Maintain</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div ng-show="show === 'profile'" role="tabpanel" class="tab-pane active" id="profile">
                    <div class="card" id="welcome-user-text">
                        <div class="card-block">
                            <p class="card-text">Welcome to Open Bounty! This here's your handy user interface.</p>
                            <p class="card-text">
                                If you're a bounty hunter, then click on <a href="" ng-click="show = 'hunt'" id="hunt-link">hunt</a>. Maintain a project? Then click <a href="" ng-click="show = 'maintain'" id="maintain-link">maintain</a>.
                            </p>
                            <p class="card-text">
                                Else if both, try clicking both!
                            </p>
                        </div>
                    </div>
                </div>
                <div ng-show="show === 'hunt'" role="tabpanel" class="tab-pane active" id="hunt">
                    <div class="card-block">
                        <h2>Bounties I'm tracking</h2>
                        <li><a ng-repeat="bounty in bounties" href="javascript:void(0)" class="btn btn-raised">{{bounty.name}}</a></li>
                    </div>
                </div>
                <div ng-show="show === 'maintain'" role="tabpanel" class="tab-pane active" id="maintain">
                    <div class="card-block">
                        <h2>My Projects&nbsp; <button class="btn btn-raised btn-xs" ui-sref="user.newProject">+ Add a project</button></h2>
                        
                        <div class="user-projects-list">
                            <li style="list-style-type: none"><a ng-repeat="project in projects" href="javascript:void(0)" class="btn btn-default btn-lg btn-block btn-raised" ui-sref="user.singleProject({ projectId: project.id })">{{project.name}}</a></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
