<div class="col-sm-2 sidebar">
    <ul class="nav nav-sidebar">
        <li ui-sref-active="active"><a ui-sref="manageProjects"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Manage Projects</a></li>
        <li ui-sref-active="active"><a ui-sref="addProject"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Add New Project</a></li>
        <li ui-sref-active="active"><a ui-sref="fundProject"><i class="fa fa-money" aria-hidden="true"></i> Fund Projects</a></li>
        <li ui-sref-active="active"><a ui-sref="searchProject"><i class="fa fa-search" aria-hidden="true"></i> Search Projects</a></li>
    </ul>
</div>
