<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a ui-sref-active="active" ui-sref="home">Home</a></li>
                <li class="breadcrumb-item"><a ui-sref-active="active" ui-sref="manageProjects">Manage Projects</a></li>
                <li class="breadcrumb-item active">New Project</li>
            </ol>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-12'>
            <h2>New Project</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            Content
        </div>
    </div>
</div>
