<div class="container-fluid">
    <div class='row'>
        <div class='col-sm-10 col-sm-offset-2'>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a ui-sref-active="active" ui-sref="home">Home</a></li>
                <li class="breadcrumb-item active">Projects</li>
            </ol>
        </div>
    </div>
    <div class='row'>
        <div class='col-sm-10 col-sm-offset-2'>
            <h2>Bounties</h2>
        </div>
    </div>
    <div class="row">
        <project-sidebar></project-sidebar>
        <div class="col-sm-10 col-sm-offset-2">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Issue Id</th>
                        <th>Description</th>
                        <th>Bounty Amount</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="bounty in userSingleProject">
                        <th scope="row">{{bounty.issueId}}</th>
                        <td></td>
                        <td>{{bounty.amount | currency}}</td>
                        <td>{{bounty.status}}</td>
                        <td>
                            <button type="button" class="btn btn-warning btn-sm">Change Amount</button>
                            <button type="button" class="btn btn-danger btn-sm">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
