<table class="table table-hover">
    <thead>
        <tr>
            <th>Issue #</th>
            <th>Title</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Difficulty</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="bounty in bounties">
            <td>{{ bounty.id | uppercase }} </td>
            <td href="bounty.issue.html_url">{{ bounty.issue.title | uppercase | limitTo:20 }}<span ng-if="bounty.issue.title.length > 19">...</span></td>
            <td>{{ bounty.amount | currency }}</td>
            <td>{{ bounty.status | uppercase }}</td>
            <td>{{ bounty.difficulty }}</td>
            <td ng-if="project.ownerId === user.id">
                <button type="button" class="btn btn-raised btn-warning btn-xs" ui-sref="user.editBounty({ bountyId: bounty.id, projectId: project.id })">Manage</button>
                <button type="button" class="btn btn-raised btn-primary btn-xs" ng-show="bounty.status === 'pull request'" ng-controller="PayModalCtrl" class="btn btn-success btn-sm" ng-click="openPaymentModal(bounty)">Pay</button>
            </td>
            <td ng-if="showTrackButton(bounty.id)">
                <button type="button" class="btn btn-warning btn-sm" ng-click="trackBounty(bounty.id)">Track</button>
            </td>
            <td ng-if="!showTrackButton(bounty.id)"></td>
        </tr>
    </tbody>
</table>
