<table class="table table-hover">
    <thead>
        <tr>
            <th>Issue #</th>
            <th>Title</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="bounty in bounties">
            <th scope="row">{{ bounty.name | uppercase}}</th>
            <td>{{ .raised}}</td>
            <td>{{ project.paidOut}}</td>
            <td></td>
            <td>
                <button type="button" class="btn btn-warning btn-sm" ui-sref="projects.single({ project: project })">Manage</button>
                <button type="button" class="btn btn-danger btn-sm">Delete</button>
            </td>
        </tr>

    </tbody>
</table>

