<div class="card">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-9 col-sm-offset-1">
                <h2>New Project</h2>
            </div>
        </div>
        <div class="col-sm-6 col-sm-offset-1">
            <form autocomplete="off" name="submitProject">
                <div class="form-group">
                    <div class="input-group searchRepo" ng-show="!typeAheadDisabled">
                        <input type="text" name="searchRepo" typeahead-editable='false' ng-model="searchRepo" uib-typeahead="repo as repo.name for repo in userRepos | filter: {name: $viewValue}" typeahead-loading="loadingRepos" typeahead-no-results="noResults" class="form-control" id="inputDefault" typeahead-template-url="/js/projects/templates/project-add.typeahead.item.template.html" typeahead-on-select="onSelect($item, $model, $label)" ng-disabled="typeAheadDisabled" autocomplete="off" />
                        <span class="input-group-addon" ng-show="!typeAheadDisabled"><span class="glyphicon glyphicon-search"></span> Search</span>
                    </div>
                    <div class="fake-input" ng-show="typeAheadDisabled">
                        <div ng-click="clearSearch()"> <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> {{searchRepo.name}} </div>
                    </div>
                </div>
                <label style="color: black" for="projectDescription">Let your users know why you are raising funds:</label>
                <div class="form-group">
                    <textarea name="projectDescription" class="form-control" ng-model="projectDescription"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-raised btn-primary" ng-click="addProject(searchRepo, projectDescription)">Submit your project</button>
                </div>
            </form>
        </div>
    </div>
</div>
