<div class="container-fluid">
    <div class='row'>
        <div class='col-sm-10 col-sm-offset-2'>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a ui-sref-active="active" ui-sref="home">Home</a></li>
                <li class="breadcrumb-item active">Projects</li>
            </ol>
        </div>
    </div>
    <div class='row'>
        <div class='col-sm-10 col-sm-offset-2'>
            <h2>Add Bounty</h2>
        </div>
    </div>
    <div class="row">
        <sidebar></sidebar>
        <div class="col-sm-10 col-sm-offset-2">
        </div>
    </div>
</div>
