<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-3">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a ui-sref-active="active" ui-sref="home">Home</a></li>
                    <li class="breadcrumb-item active">Projects</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9 col-sm-offset-3">
                <h2>Projects  <button class="btn btn-raised btn-xs" ui-sref-active="active" ui-sref="newProject">+ Add a project</button></h2>
            </div>
        </div>
        <div class="row">
            <sidebar></sidebar>
            <div class="col-sm-9 col-sm-offset-3">
                <project-table></project-table>
            </div>
        </div>
    </div>
</div>
