<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-2">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a ui-sref-active="active" ui-sref="home">Home</a></li>
                <li class="breadcrumb-item"><a ui-sref-active="active" ui-sref="manageProjects">Manage Projects</a></li>
                <li class="breadcrumb-item"><a ui-sref-active="active" ui-sref="addProject">New Project</a></li>
                <li class="breadcrumb-item active">Project not saved</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-2">
            <h2>Your project was not saved!!</h2>
        </div>
    </div>
    <div class="row">
        <project-sidebar></project-sidebar>
        <div class="col-sm-10 col-sm-offset-2">
            Please try again later
        </div>
    </div>
</div>
