<div class="container-fluid">
    <div class='row'>
        <div class='col-sm-10 col-sm-offset-2'>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a ui-sref="home">Home</a></li>
                <li class="breadcrumb-item"><a ui-sref="project/manage">Projects</a></li>
                <li class="breadcrumb-item active">Bounties</li>
            </ol>
        </div>
    </div>
    <div class='row'>
        <div class='col-sm-10 col-sm-offset-2'>
            <h1>{{ project.name }}</h1>
            <h2>Bounties <button class="btn btn-default" ui-sref-active="active" ui-sref="addBounty({ project: project})">+ add bounty</button></h2>
        </div>
    </div>
    <div class="row">
        <sidebar></sidebar>
        <bounty-table></bounty-table>
    </div>
</div>
