<div class="container-fluid">
    <div class='row'>
        <div class='col-sm-10 col-sm-offset-2'>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a ui-sref="home">Home</a></li>
                <li class="breadcrumb-item"><a ui-sref="project/manage">Projects</a></li>
                <li class="breadcrumb-item active">Bounties</li>
            </ol>
        </div>
    </div>
    <div class='row'>
        <div class='col-sm-10 col-sm-offset-2'>
          <h1>{{ project.name }}</h1>
	  <p>Available funds: {{ project.raised - project.fundsOnHold - project.paidOut | currency }}</p>
            <h2>Bounties <button ng-if="user.id === project.ownerId" class="btn btn-default" ui-sref-active="active" ui-sref="addBounty({ projectId: project.id })">+ add bounty</button></h2>
        </div>
    </div>
    <div class="row">
        <sidebar></sidebar>
        <bounty-table ng-if="bounties.length"</bounty-table>
    </div>
</div>
