<div class='row'>
<div class="col-sm-12">
    <div class='col-sm-6'>
        <h1>{{ project.name }}</h1>
        <p>Available funds: {{ project.raised - project.fundsOnHold - project.paidOut | currency }}</p>
        <h2>Bounties <button ng-if="user.id === project.ownerId" class="btn btn-raised btn-xs" ui-sref-active="active" ui-sref="user.addBounty({ projectId: project.id })">+ add bounty</button></h2>
    </div>
    <div class="col-sm-6">
        <highchart id="chart1" config="chartConfig"></highchart>
    </div>
</div>
</div>
<div class="col-sm-12">
    <bounty-table ng-if="bounties.length"></bounty-table>
</div>
