<div class="fund-container">
    <div class="fund-title-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Fund your project...</h1>
                    <h2>...a little $$$ help has never hurt anyone!</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="fund-blue-stripe">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>So... how does it work?</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="fund-grey-stripe">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="fund-how-container">
                        <h4>Manage your issues within Open Bounty admin interface.</h4>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <span class="fund-icon">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-center pull-right">
                    <div class="fund-how-container">
                        <h4>Assign a compensation for issues of your project that have not been resolved yet.</h4>
                    </div>
                </div>
                <div class="col-md-6 pull-left  text-center">
                    <span class="home-icon">
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="fund-how-container">
                        <h4>Confirm that the issue has been closed and send money directly to your collaborators.</h4>
                    </div>
                </div>
                <div class="col-md-6  text-center">
                    <span class="home-icon">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
