<div class="fund-container">
    <div class="fund-title-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Fund your project's bug bounty program.</h1>
                    <h2>Leverage Open Bounty's platform for maintainers.</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="fund-blue-stripe">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>So... how does it work?</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="fund-grey-stripe">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="fund-how-container">
                        <h4>Select the issue for a bug that needs fixing.</h4>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <span class="fund-icon">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-center pull-right">
                    <div class="fund-how-container">
                        <h4>Assign a bounty. With a click of a button. We make it easy.</h4>
                    </div>
                </div>
                <div class="col-md-6 pull-left  text-center">
                    <span class="home-icon">
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="fund-how-container">
                        <h4>Use your project's fund to reward the GitHub user who submits the merged pull request attached to the issue.</h4>
                    </div>
                </div>
                <div class="col-md-6  text-center">
                    <span class="home-icon">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
