<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-2">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a ui-sref="home">Home</a></li>
                <li class="breadcrumb-item"><a ui-sref="projects">Projects</a></li>
                <li class="breadcrumb-item"><a ui-sref="projects">Bounties</a></li>
                <li class="breadcrumb-item active">Issues</li>
            </ol>
        </div>
    </div>
    <div class='row'>
        <div class='col-sm-10 col-sm-offset-2'>
            <h2>{{ projectObject.project.name}} </h2>
            <span>  Total Funds Available: {{ projectObject.project.raised - projectObject.project.paidOut | currency }}</span>
            <h2>Issues</h2>
        </div>
    </div>
    <project-sidebar></project-sidebar>
    <issue-table issues="issues"></issue-table>
</div>
