<div class="card">
    <div class='row'>
        <div class="col-sm-12">
            <div class='col-sm-9'>
                <h1>{{ project.name }} </h1>
                <p> Funds Available: {{ fundsAvailable | currency }}</p>
                <h2>Issues</h2>
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search issues..." ng-model="search.term">
                    <span class="input-group-btn">
        <button class="btn btn-raised btn-default" type="button" ng-click="searchIssues()">Search</button>
      </span>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <issues-table></issues-table>
        </div>
    </div>
</div>
