<div class="container-fluid">
    <div class='row'>
        <div class='col-sm-10 col-sm-offset-2'>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a ui-sref="home">Home</a></li>
                <li class="breadcrumb-item"><a ui-sref="projects">Projects</a></li>
                <li class="breadcrumb-item active">Bounties</li>
            </ol>
        </div>
    </div>
    <div class='row'>
        <div class='col-sm-10 col-sm-offset-2'>
          <h1>{{project.name}}</h1>
            <form class="form-inline">
                <div class="form-group">
                    <label class="sr-only">Email</label>
                    <p class="form-control-static">Bounty for <a href="{{ issue.html_url }}"><strong>{{ issue.title }}: </strong></a></p>
                    <input type="number" class="form-control" placeholder="Change Amount" ng-model="amount">
                </div>
                <button type="submit" class="btn btn-primary" confirmed-click="changeBounty(amount)" ng-confirm-click="Are you sure you want to change the price?">Change</button>
            </form>
        </div>
    </div>
    <div class="row">
        <sidebar></sidebar>
    </div>
</div>
