.projects-container {
    margin-top: 60px;
}

.project-container {
    margin-bottom: 30px;
    background-color: #F9F9F9;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    border-bottom: 2px solid #CCCCCC;
    color: #54687C;
    .name {
        font-size: 20px;
        padding-top: 10px;
        span {
            margin: 0;
            display: block;
        }
    }
    .donate {
        line-height: 70px;
        button {
            text-transform: uppercase;
        }
        display: table-cell;
        vertical-align: middle;
    }
    .description {
        padding-top: 15px;
    }
    .icon {
        font-size: 50px;
    }
    .raised {
        padding-top: 10px;
        font-size: 20px;
    }
    .paidout {
        font-size: 20px;
    }
}

.donate-search-container {
    background-color: #DFEBF8;
    margin: 30px auto;
    padding: 30px;
    input {
        width: 80%;
        font-size: 24px;
        padding: 10px 20px 5px;
        border: none;
        font-weight: 100;
        border-bottom: 1px solid #E2E2E2;
        background-color: #DFEBF8;
        color: #54687C;
        text-align: center;
        &:focus {
            outline: none;
        }
    }
    .btn-clearsearch {
        background: none;
        border: none;
        text-transform: uppercase;
    }
}
