* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}


h2 {
    font-size: 24px;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

#main {
    padding-top: 45px;
    margin: 0 auto;
}




/*
 * Sidebar
 */


/* Hide for mobile, show later */

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 75px;
        bottom: 0;
        left: 0;
        margin-left: 40px;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: visible;
        overflow-y: visible;
        // overflow-x: hidden;
        // overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        background-color: #EEEEEE;
        border-right: 1px solid #eee;
    }
}


/* Sidebar navigation */

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
    background-color: #525252;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    color: white;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #ffffff;
    background-color: #428bca;
}

.form-control {
    padding: 12px;
    background: #edecec;
    margin-bottom: 0px;
}


/*** new sidebar ***/

sidebar.card {
    min-height: 800px;
}

.nav-tabs {
    background-color: white;
}

#sidebar-title {
    padding: 15px;
    padding-top: 25px;
    img {
    height: 120px;
    width: 120px;
    }
    .user-pic {
    padding-right: 0;
    padding-left: 0;
    }
    .username {
    padding-left: 0px;

    }
}

#featured-projects {
    font-weight: bold;
    color: #4285F4;
    padding-bottom: 30px;
}

#welcome-user-text {
    line-height: 2.5em;
    background-color: #EDECEC;
    p {
        padding: 10px;
        font-size: 15px;
    }
}

.nav-tabs {
    border-bottom: 2px solid #DDD;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    border-width: 0;
}

.nav-tabs > li > a {
    border: none;
    background: yellow;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    color: gray !important;
}

.nav-tabs > li.active > a,
.nav-tabs > li > a:hover {
    border: none;
    color: #4285F4 !important;
    background: transparent;
    font-weight: bold;
}

.nav-tabs > li > a::after {
    content: "";
    background: #4285F4;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.nav-tabs > li.active > a::after,
.nav-tabs > li:hover > a::after {
    transform: scale(1);
}

.tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #000;
}

.tab-pane {
    padding: 15px 0;
}

.tab-content {
    padding: 20px
}

.card {
    // background: #FFF none repeat scroll 0% 0%;
    // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    // margin-bottom: 30px;
    // padding: 20px;
    padding-bottom: 20px;
}

body {
    background: #EDECEC;
    padding: 50px
}

// navbar
.navbar .navbar-nav > li > a {
    color: #4285F4;
}

.navbar,
.navbar.navbar-default {
    background-color: white;
}

a {
    color: #4285F4;
}

input:focus {
    outline: none;
}
.table > tbody > tr > td
{
    vertical-align:middle;
}

.project-card {
    height: 300px;
    padding-bottom: 20px;
    .tab-content {
        padding-top: 0;
    }
    .javascript {
    background-color: purple;
    }
    .python {
        background-color: green;
    }
    .ruby {
        background-color: red;
    }
    .go {
        background-color: blue;
    }
    .html {
        background-color: orange;
    }
    .css {
        background-color: yellow;
    }
}


.project-bounties {
        height: 250px;
        overflow-y: auto;
        padding: 0;
        padding-top: 7px;
    }

li {
    list-style-type: none;
}


.bounty-card {
    .btn {
        color: #4285F4;
    },
    p {
        padding: 6.5px;
    }
    .very-easy {
    background-color: green;
    }
    .easy {
        background-color: blue;
    }
    .moderate {
        background-color: yellow;
    }
    .hard {
        background-color: orange;
    }
    .very-hard {
        background-color: red;
    }
}

.featured-projects-card {
    text-align: center;
}

.user-projects-list {
    height: 300px;
    overflow-y: auto;
    padding-bottom: 0;
    li {
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

#maintain {
    padding-top: 0;
    h2 {
        padding-top: 0;
    }
}

.featured-project-row {
    padding-bottom: 20px;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'project/main';
@import 'donation/main';
@import 'fund/main';
@import 'bounty/main';
