.fund-container {
    background-color: #E9F0F5;
    margin-top: -20px;
    padding-top: 30px;
}

.fund-grey-stripe {
    padding: 30px;
    margin-top: 60px;
    h4 {
        font-size: 28px;
        line-height: 38px;
        width: 85%;
        margin: 0 auto;
    }
    .fund-how-container {
        background: white;
        border-radius: 0.25em;
        box-shadow: 0 3px 0 #d7e4ed;
        padding: 40px;
        margin-bottom: 30px;
        min-height: 150px;
    }
    span {
        font-size: 105px;
    }
}

.fund-blue-stripe {
    margin-top: 40px;
    background-color: #303E49;
    color: white;
    padding: 30px;
}
